.signIn {
  display: flex;
  place-items: center;
  flex-direction: column;
  color: aliceblue;
}
h2 {
  font-size: 40px;
}
form {
  display: flex;
  place-items: center;
  flex-direction: column;
}
input {
  margin: 30px;
  height: 60px;
  width: 300px;
  display: flex;
  place-items: center;
  flex-direction: column;
  border-radius: 10px;
  font-size: 20px;
}
